/* Style written by Ruoxin Mao */
* {
	scrollbar-width: thin;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.15);
	border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255,255,255,0.3);
}
*::-webkit-scrollbar-thumb:active {
	background-color: rgba(255,255,255,0.45);
}
::-webkit-scrollbar {
	width: 8px;
}
html {
	height: 100%;
}
body {
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
	font-family: "Microsoft Yahei Light","Pingfang SC","Microsoft Yahei",Helvetica,sans-serif,"等线";
	background-color: #25292B;
	color: white;
	cursor: default;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 1780603 */
  src: url('https://at.alicdn.com/t/font_1780603_umiove5uri.eot');
  src: url('https://at.alicdn.com/t/font_1780603_umiove5uri.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1780603_umiove5uri.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1780603_umiove5uri.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1780603_umiove5uri.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1780603_umiove5uri.svg#iconfont') format('svg');
}
.iconfont{
	font-family: "iconfont" !important;
	font-size: 20px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0;
	-moz-osx-font-smoothing: grayscale;
}
.song {
	font-family: "宋体","SimSun","STZhongsong","Source Han Serif CN",serif,"Microsoft Yahei Light" !important;
}
.bold {
	font-weight: bold;
	font-family: "Microsoft Yahei","Pingfang SC",Helvetica,sans-serif,"等线";
}
#splashScr {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #25292B;
	transition: all 0.5s;
	opacity: 1;
}
#splashText {
	position: absolute;
	top: calc(50% - 8.5px);
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 15px;
}
#headBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.03);
}
.headTitle {
	position: absolute;
	top: calc(50% - 80px);
	left: calc(50% - 240px);
	width: 480px;
	text-align: left;
	white-space: nowrap;
}
.headTitle1 {
	color: rgba(255,255,255,.5);
}
.headTitle2 {
	line-height: 80px;
	letter-spacing: 1px;
}
#totalDeath {
	font-size: 50px;
}
#btnScrollDown {
	position: absolute;
	bottom: 30px;
	left: calc(50% - 50px);
	width: 100px;
	color: rgba(255,255,255,.5);
	text-align: center;
	font-size: small;
	cursor: pointer;
	transition: all .25s;
}
#btnScrollDown i {
	font-size: small;
	padding-right: 5px;
}
#btnScrollDown:hover {
	color: white;
}
#btnScrollDown:active {
	color: rgba(255,255,255,.3);
}
#mainBox {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #25292B;
}
.listTitle {
	position: relative;
	margin-top: 100px;
	left: 0;
	width: 100%;
	text-align: center;
	letter-spacing: 1px;
	font-size: 18px;
}
#listBox {
	position: relative;
	margin-top: 100px;
	left: calc(50% - 600px);
	width: 1200px;
	font-size: 0;
}
.listItem {
	display: inline-block;
	position: relative;
	width: 250px;
	margin: 5px;
	padding: 12px 20px;
	background-color: rgba(255,255,255,.05);
	border-radius: 5px;
	white-space: nowrap;
	overflow: hidden;
	transition: all .25s;
}
.listItem:hover {
	background-color: rgba(255,255,255,.1);
}
.listName {
	font-size: 16px;
}
.listInnerItem {
	display: inline-block;
	position: relative;
	margin-top: 10px;
	margin-right: 15px;
}
.listInnerItemTitle {
	color: rgba(255,255,255,.5);
	font-size: 11px;
}
.listInnerItemContent {
	font-size: small;
}
#listEnd {
	position: relative;
	left: 0;
	margin-top: 50vh;
	width: 100%;
	text-align: center;
}
#btnBacktoTop {
	position: absolute;
	bottom: 80px;
	left: calc(50% - 15px);
	color: rgba(255,255,255,.5);
	cursor: pointer;
	transition: all .25s;
}
#btnBacktoTop i {
	font-size: 30px;
}
#btnBacktoTop:hover {
	color: rgba(255,255,255,.8);
}
#btnBacktoTop:active {
	color: rgba(255,255,255,.3);
}

footer {
	position: relative;
	margin-top: 50vh;
	left: 0;
	width: 100%;
	height: 50px;
	color: rgba(255,255,255,.5);
	text-align: center;
	font-size: 12px;
}
.links {
	text-decoration: none;
	color: rgba(255,255,255,.5);
	cursor: pointer;
	transition: all 0.25s;
}
.links.blue {
	color: #4A9EFF;
}
a.links:link,a.links:visted {color: rgba(255,255,255,.5);}
a.links:hover {color: white;}
a.links:active {color: rgba(255,255,255,.5);}

@media screen and (max-width: 1370px) {
	#listBox {
		left: calc(50% - 450px);
		width: 900px;
	}
}

@media screen and (max-width: 1050px) {
	#listBox {
		left: calc(50% - 300px);
		width: 600px;
	}
}

@media screen and (max-width: 650px) {
	#listBox {
		left: calc(50% - 150px);
		width: 300px;
	}
}

@media screen and (max-width: 600px) {
	.headTitle {
		left: 10%;
		width: 80%;
		white-space: unset;
	}
	.headTitle1, .headTitle2 {
		font-size: small;
	}
	#headTitle2Text {
		display: block;
		line-height: initial;
		margin-top: -15px;
	}
	.listTitle, #listBox {
		margin-top: 80px;
	}
	footer {
		font-size: 11px;
	}
}