/* Style written by MaoRX.cn */
* {
	scrollbar-width: thin;
}
html {
	height: 100%;
}
body {
	max-width: 100%;
	overflow: hidden;
	margin: 0px;
	font-family: "Microsoft Yahei Light","Pingfang SC","Microsoft Yahei",Helvetica,sans-serif,"等线";
	background-color: #25292B;
	cursor: default;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}
/*@font-face{
	font-family: SimSun1;
	src: url("../fonts/simsun.ttc");
}*/
#splashScr {
	position: fixed;
	width: 100%;
	height: 100%;
	color: white;
	background-color: #25292B;
}
#splashText {
	position: absolute;
	top: calc(50% - 8.5px);
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-family: "宋体","SimSun","STZhongsong","Source Han Serif CN",serif,"Microsoft Yahei Light";
}
.mainTitle1,.mainTitle2 {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
}
.mainTitle1 {
	top: 50px;
	font-size: 14px;
	letter-spacing: 3px;
}
.mainTitle2 {
	top: 85px;
	left: 10px;
	font-size: 40px;
	font-family: "宋体","SimSun","STZhongsong","Source Han Serif CN",serif,"Microsoft Yahei Light";
	letter-spacing: 20px;
}
.ulineBlock {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: calc(50% - 116.5px);
	width: 230px;
	height: 10px;
	background-color: #534F54;
}
.intro {
	position: absolute;
	top: calc(50% - 8.5px);
	left: 0;
	width: 100%;
	text-align: center;
	color: rgba(255,255,255,0.5);
}


@media screen and (max-width:600px){
	
}

@media screen and (min-width:600px) and (max-width:900px){
	
}

@media screen and (max-width:1370px){
	
}
