/* Style written by MaoRX.cn */
* {
	scrollbar-width: thin;
}
html {
	height: 100%;
}
body {
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
	font-family: "Microsoft Yahei Light","Pingfang SC","Microsoft Yahei",Helvetica,sans-serif,"等线";
	background-color: #25292B;
	cursor: default;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}
/*@font-face{
	font-family: SimSun1;
	src: url("../fonts/simsun.ttc");
}*/
#splashScr {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color: #25292B;
	transition: all 0.5s;
	opacity: 1;
}
#splashText {
	position: absolute;
	top: calc(50% - 8.5px);
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-family: "宋体","SimSun","STZhongsong","Source Han Serif CN",serif,"Microsoft Yahei Light";
}
.mainTitle1,.mainTitle2 {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
}
.mainTitle1 {
	top: 50px;
	font-size: 14px;
	letter-spacing: 3px;
}
.mainTitle2 {
	top: 85px;
	left: 10px;
	font-size: 40px;
	font-family: "宋体","SimSun","STZhongsong","Source Han Serif CN",serif,"Microsoft Yahei Light";
	letter-spacing: 20px;
}
.ulineBlock {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: calc(50% - 116.5px);
	width: 230px;
	height: 10px;
	background-color: #534F54;
}
.intro {
	position: relative;
	top: 200px;
	left: 0;
	width: 100%;
	text-align: center;
}
p {
	color: rgba(255,255,255,0.8);
	font-size: small;
}
p.bold {
	font-family: "Microsoft Yahei","Pingfang SC";
	font-weight: bold;
	font-size: 15px;
}
.stressBox {
	position: relative;
	left: calc(50% - 200px);
	width: 400px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: rgba(255,255,255,0.1);
}
.contact {
	position: relative;
	top: 250px;
	left: 0;
	width: 100%;
	text-align: center;
}
.btnMain {
	position: relative;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 3px;
	font-size: small;
	color: white;
	background-color: #438FE6;
	transition: all 0.25s;
	cursor: pointer;
}
.btnMain:hover {
	background-color: #4A9EFF;
}
.btnMain:active {
	background-color: #3B7FCC;
}
#mailInfo {
	text-align: left;
	-webkit-tap-highlight-color: default;
	-webkit-user-select: text;
	user-select: text;
	cursor: text;
	padding-left: 65px;
	width: 335px;
}
footer {
	position: relative;
	top: 300px;
	left: 0;
	width: 100%;
	height: 50px;
	color: rgba(255,255,255,0.5);
	text-align: center;
	font-size: 12px;
}
.links {
	text-decoration: none;
	color: rgba(255,255,255,0.5);
	cursor: pointer;
	transition: all 0.25s;
}
a.links:link,a.links:visted {color: rgba(255,255,255,0.5);}
a.links:hover {color: rgba(255,255,255,1.0);}
a.links:active {color: rgba(255,255,255,0.5);}


@media screen and (max-width:600px){
	.intro,.contact {
		left: 5%;
		width: 90%;
		text-align: left;
	}
	#toRelatives {
		padding-left: 65px;
		width: 335px;
	}
}

@media screen and (min-width:600px) and (max-width:900px){
	
}

@media screen and (max-width:1370px){
	
}
